<head>
  <title>hello</title>
</head>

<body>
</body>

<template name="layout">
    <h4>State: </h4>
    <ul>
        <li> User Status: {{userStatus}} </li>
        <li> Template Reload: {{templateReload}} </li>
        <li> Blacklisted Selector on page?: {{blacklistSelectorStatus}}</li>
        <li> Update Pending: {{hasRetry}} </li>
    </ul>
    <br>
    {{>yield}}
</template>

<template name="hello">
    <button id="no-update-page">Go To No Update Router Page</button>
    <button id="no-update-selector-page">Go To No Update Selector Page</button>
</template>

<template name="noUpdate">
    <h1> Anything on this page should not update!!!!! (if the router blacklisting is set to true)</h1>
    <button id="update-page">
        To Main Page
    </button>
</template>

<template name="noUpdateSelector">
    <h1> Anything on this page should not update!!!!! (if the selector blacklisting is set to true for forms)</h1>
    <form></form> <!-- this form selector will be caught and will stop reload if blacklsiting is turned on -->
    <button id="update-page">
        To Main Page
    </button>
</template>